/* BACKGROUND
   ----------

   background...
 */

:host >>> .ui-inputtext {
  background-color: hsla(60, 75%, 97.5%, 1);
}
:host >>> .ui-inputtext[readonly] {
  background: hsla(0, 0%, 100%, 1);
}


/* DECORATIVE BOX EFFECTS
   ----------------------

   box-shadow
 */

:host >>> .ui-inputtext {
  box-shadow: inset 0 2px 2px hsla(0, 0%, 56%, 1);
  -webkit-box-shadow: inset 0 2px 2px hsla(0, 0%, 56%, 1);
  -moz-box-shadow: inset 0 2px 2px hsla(0, 0%, 56%, 1);
}
:host >>> pn-expanding-textarea.being-moved .ui-inputtext,
:host >>> pn-expanding-textarea.being-moved .ui-inputtext.ui-state-focus[readonly] {
  box-shadow: 0 2px 2px hsla(0, 0%, 56%, 1);
  -webkit-box-shadow: 0 2px 2px hsla(0, 0%, 56%, 1);
  -moz-box-shadow: 0 2px 2px hsla(0, 0%, 56%, 1);
}
:host >>> .ui-inputtext[readonly],
:host >>> .ui-inputtext.ui-state-focus[readonly] {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}


/* FONT
   -------

   font...
 */

.ui-inputtext {
  font-family: serif;
}


/* LAYOUT & VISIBILITY
   -------------------

   display,
   margin...
   ...width
   ...height
   padding...
   position
   border...
   ...align
   resize
   visibility
*/

.wrapper {
  display: table;
  margin-bottom: 0.2em;
  width: 100%;
}
.button-wrapper {
  display: table-cell;
  min-width: 8em;
  padding-top: 0.06em;
  vertical-align: top;
}
.ui-button {
  margin: 0 0 0 0.25em;
}
button.ui-widget.pn-button-aligned.button-wide {
  width: 8.5em;
}
.button-extra-wide {
  width: 9em;
}
pn-expanding-textarea {
  display: table-cell;
  width: 100%;
}

.ui-inputtext {
  margin-right: 0.25em;
  padding: 0.333em;
  resize: none;
}

.move-target-button {
  position: relative;
  top: -1.25em;
}
