/* BACKGROUND
   ----------

   background...
   border-color
 */

body {
  background: hsla(0, 0%, 100%, 1);
}
.ui-widget-content button.ui-widget,
.ui-widget-content .ui-inputtext {
  border-color: hsla(206, 10%, 86%, 1);
}

/* FOREGROUND
   ----------

   color
 */

body,
h1, h2, h3, h4, h5, h6,
.ui-button .ui-button-icon-left,
.ui-widget-content .ui-inputtext,
.ui-widget-header .ui-inputtext,
.ui-button .ui-button-text,
.ui-button[disabled]:hover .ui-button-text,
.ui-button[disabled]:focus .ui-button-text,
.ui-button[disabled]:hover .ui-button-icon-left,
.ui-button[disabled]:focus .ui-button-icon-left,
.ui-inputtext,
input.ui-inputtext,
textarea.ui-inputtext,
.ui-widget-content input.ui-inputtext,
.ui-widget-content textarea.ui-inputtext {
  color: hsla(0, 0%, 20%, 1);
}

.ui-button.button-success:hover .ui-button-text,
.ui-button.button-success:focus .ui-button-text,
.ui-button.button-success:hover .ui-button-icon-left,
.ui-button.button-success:focus .ui-button-icon-left {
  color: hsla(120, 100%, 25%, 1);
}
.ui-button.button-info:hover .ui-button-text,
.ui-button.button-info:focus .ui-button-text,
.ui-button.button-info:hover .ui-button-icon-left,
.ui-button.button-info:focus .ui-button-icon-left {
  color: hsla(240, 100%, 50%, 1);
}
.ui-button.button-warning:hover .ui-button-text,
.ui-button.button-warning:focus .ui-button-text,
.ui-button.button-warning:hover .ui-button-icon-left,
.ui-button.button-warning:focus .ui-button-icon-left {
  color: hsla(19, 56%, 40%, 1);
}
.ui-button.button-danger:hover .ui-button-text,
.ui-button.button-danger:focus .ui-button-text,
.ui-button.button-danger:hover .ui-button-icon-left,
.ui-button.button-danger:focus .ui-button-icon-left {
  color: hsla(0, 100%, 50%, 1);
}


/* FONT
   -------

   font...
 */

button.ui-widget.ui-button {
  font-weight: normal;
}


/* LAYOUT & VISIBILITY
   -------------------

   display,
   margin...
   ...width
   ...height
   padding...
   position
   border...
   ...align
   resize
   visibility
*/
.ui-inputtext,
button.ui-widget.ui-button {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}


/* UTILITY CLASSES
   ---------------

 */

.visibly-hidden {
  visibility: hidden;
}
