<pn-note-form [beingEdited]="true" [noteBeingMovedIndex]="noteBeingMovedIndex"></pn-note-form>

<pn-note-form *ngFor="let note of notes; let i = index"
  (onMoveStarted)="onMoveStarted($event)" (onMoveEnded)="onMoveEnded($event)"
  [notes]="notes" [noteIndex]="i" [noteBeingMovedIndex]="noteBeingMovedIndex"
  [moveTargettable]="moveTargettableIndex(i)"></pn-note-form>

<pn-note-form [moveTargetOnly]="true" (onMoveEnded)="onMoveEnded($event)"
  [notes]="notes" [noteIndex]="notes.length" [noteBeingMovedIndex]="noteBeingMovedIndex"
  [moveTargettable]="moveTargettableIndex(notes.length)"></pn-note-form>
