<pn-note *ngIf="showActiveNotes" (onNoteAdded)="refreshNotes()"
  [beingEdited]="true" [noteBeingMovedIndex]="noteBeingMovedIndex" [tabId]="tab.id"></pn-note>

<pn-note *ngFor="let note of notes; let i = index"
  (onMoveStarted)="onMoveStarted($event)"
  (onMoveEnded)="onMoveEnded($event)"
  (onNoteUpdated)="refreshNotes()"
  (onNoteTrash)="onNoteTrash($event)"
  (onNoteReinstate)="onNoteReinstate($event)"
  (onNoteDelete)="onNoteDelete($event)"
  [notes]="notes" [noteIndex]="i" [noteBeingMovedIndex]="noteBeingMovedIndex"
  [moveTargettable]="moveTargettableIndex(i)" [tabId]="tab.id"></pn-note>

<pn-note *ngIf="showActiveNotes" [moveTargetOnly]="true" (onMoveEnded)="onMoveEnded($event)"
  [notes]="notes" [noteIndex]="notes.length" [noteBeingMovedIndex]="noteBeingMovedIndex"
  [moveTargettable]="moveTargettableIndex(notes.length)" [tabId]="tab.id"></pn-note>

<p-dialog [(visible)]="showTrashConfirmation" header="Confirm" showEffect="fade"
  [closable]=false [resizable]=false>
  <p>
    Are you sure you want to move this note to the Trash?
    <!-- TODO Show an excerpt from the note. -->
  </p>
  <footer>
    <!-- TODO Focus the "Yes, trash" button -->
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-trash-o" (click)="onTrashConfirmed()"
        class="button-extra-wide" label="Yes, trash"></button>
      <button type="button" pButton icon="fa-ban" (click)="onTrashCancelled()"
        class="button-extra-wide" label="No, cancel"></button>
    </div>
  </footer>
</p-dialog>

<p-dialog [(visible)]="showReinstateConfirmation" header="Confirm" showEffect="fade"
  [closable]=false [resizable]=false>
  <p>
    Are you sure you want to reinstate this note, moving it from the Trash back to the
    Notes tab?
    <!-- TODO Once custom tabs are implemented, tell the user which tab this Note
         would be moved back to. -->
    <!-- TODO Show an excerpt from the note. -->
  </p>
  <footer>
    <!-- TODO Focus the "Yes, move" button -->
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-mail-reply" (click)="onReinstateConfirmed()"
        class="button-extra-wide" label="Yes, move"></button>
      <button type="button" pButton icon="fa-ban" (click)="onReinstateCancelled()"
        class="button-extra-wide" label="No, cancel"></button>
    </div>
  </footer>
</p-dialog>

<p-dialog [(visible)]="showDeleteConfirmation" header="Confirm" showEffect="fade"
  [closable]=false [resizable]=false>
  <p>
    Are you sure you want to permanently delete this note?
    <!-- TODO Show an excerpt from the note. -->
  </p>
  <footer>
    <!-- TODO Focus the "Yes, delete" button -->
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-times" (click)="onDeleteConfirmed()"
        class="button-extra-wide" label="Yes, delete"></button>
      <button type="button" pButton icon="fa-ban" (click)="onDeleteCancelled()"
        class="button-extra-wide" label="No, keep"></button>
    </div>
  </footer>
</p-dialog>
