/* LAYOUT & VISIBILITY
   -------------------

   display,
   margin...
   ...width
   ...height
   padding...
   position
   border...
   ...align
   resize
   visibility
*/

.ui-button {
  position: relative;
  float: right;
  top: -1.5em;
}
