<div class="new-tab-input-wrapper">
  <input pInputText [(ngModel)]="newTab.name" type="text" placeholder="New tab name&hellip;">
  <button pButton type="button" (click)="onCreate()" [disabled]="!newTab.valid()"
    title="Add tab" class="pn-button-aligned" icon="fa-plus"></button>
</div>

<p-tabView (onChange)="onTabChange($event)">
  <p-tabPanel *ngFor="let tab of tabs; let i = index" [header]="tab.name" leftIcon="fa-book"
    [selected]="i === selectedTabIndex">
    <pn-note-list [tab]="tab" [showActiveNotes]="true"
      (onTabDeleteConfirmation)="onTabDeleteConfirmation($event)"></pn-note-list>
  </p-tabPanel>
  <p-tabPanel #trashPanel header="Trash" leftIcon="fa-trash-o"
    [selected]="tabs.length === 0">
    <pn-note-list [showActiveNotes]="false" [tab]="trash"></pn-note-list>
  </p-tabPanel>
</p-tabView>
