/* TODO Tidy up these and other stylesheets */

.wrapper {
  display: table;
  margin-bottom: 0.2em;
  width: 100%;
}
textarea,
.button-wrapper {
  display: table-cell;
  min-width: 9em;
  padding-top: 0.06em;
  vertical-align: top;
}
button {
  display: block;
  background: white;
  margin: 0 0 0.25em 0.25em;
  height: 2.36em;
  width: 1.8em;
}
button.button-wide {
  width: 8.5em;
}
:host >>> textarea {
  border-radius: 2px;
  margin-right: 0.25em !important;
  padding: 0.333em !important;
}
.button-wrapper button {
  border-radius: 2px;
  display: inline-block;
  font-size: 0.8em;
  margin: 0 0 0 0.25em;
}
.button-wrapper button >>> span {
  font-weight: normal;
}
.ui-inputtext,
:host:hover >>> .ui-inputtext[readonly],
:host:hover >>> button {
  background-color: hsla(60, 75%, 97.5%, 1);
}
.ui-inputtext {
  box-shadow: inset 0 2px 2px hsla(0, 0%, 56%, 1);
}
:host:hover >>> .ui-inputtext[readonly].moving,
.ui-inputtext[readonly] {
  background-color: hsla(0, 0%, 100%, 1);
}
.ui-inputtext.being-moved[readonly],
.ui-inputtext.ui-state-focus.being-moved[readonly] {
  box-shadow: 0 2px 2px hsla(0, 0%, 56%, 1);
}
.ui-inputtext[readonly],
.ui-inputtext.ui-state-focus[readonly] {
  box-shadow: none;
}
textarea {
  font-family: serif;
  padding: 0.5em;
  resize: none;
  width: 100%;
}
.visibly-hidden {
  visibility: hidden;
}
