<div class="wrapper">
  <textarea #contentInput autofocus="{{!note.persisted() || undefined}}" [rows]=1 [cols]=60
    pnExpandingTextarea [readonly]="note.persisted() && !beingEdited"
    [ngClass]="{
      'visibly-hidden': moveTargetOnly,
      'being-moved': noteBeingMoved(),
      'moving': moving()
    }"
    [(ngModel)]="note.content"></textarea>
  <div class="button-wrapper">
    <button *ngIf="creatable()" pButton type="button" (click)="onCreate()" title="Add"
      class="button-success" [disabled]="moving() || !note.valid()" icon="fa-plus"></button
    ><button *ngIf="editable()" pButton type="button" (click)="onEdit()" title="Edit"
      class="button-warning" (click)="onEdit()" [disabled]="moving()" icon="fa-pencil"></button
    ><button *ngIf="updatable()" pButton type="button" (click)="onUpdate()" title="Save"
      class="button-success" [disabled]="moving() || !note.valid()" icon="fa-save"></button
    ><button *ngIf="deletable()" pButton type="button" (click)="onDelete()"
      class="button-danger" [disabled]="moving()" title="Delete" icon="fa-trash-o"></button
    ><button *ngIf="cancelable()" pButton type="button" (click)="onCancel()"
      class="button-danger" [disabled]="moving()" title="Cancel" icon="fa-ban"></button
    ><button *ngIf="movable()" pButton type="button" (click)="onStartMove()" title="Move"
      class="button-warning" [disabled]="beingEdited" icon="fa-arrows-v"></button
    ><button *ngIf="moveTargettable" pButton type="button" (click)="onSelectMoveTarget()"
      class="button-success button-wide button-success" label="move here"
      icon="fa-long-arrow-left" style="position: relative; top: -1.25em;"></button
    ><button *ngIf="moveCancellable()" pButton type="button" (click)="onCancelMove()"
      class="being-moved button-danger button-wide" label="leave here"
      icon="fa-long-arrow-left"></button
    >
  </div>
</div>

<!-- TODO This is replicated for every note in the markup. Move to list component?
     But then there'd need to be more "wiring up". -->
<p-dialog [(visible)]="showDeleteConfirmation" header="Confirm Delete" showEffect="fade"
  [closable]=false [resizable]=false>
  <p>
    Are you sure you want to delete this note?
    <!-- TODO Show an excerpt from the note we're confirming deletion of too. -->
  </p>
  <footer>
    <!-- TODO Focus the "Yes, delete" button -->
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-trash-o" (click)="onDeleteConfirmed()"
        class="button-extra-wide" label="Yes, delete"></button>
      <button type="button" pButton icon="fa-ban" (click)="onDeleteCancelled()"
        class="button-extra-wide" label="No, cancel"></button>
    </div>
  </footer>
</p-dialog>
